on: [push]
name: Citations
jobs:
  citations:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - application: ojs
            php-version: 8.3
            database: mysql
          - application: ojs
            php-version: 8.2
            database: mysql
          - application: ojs
            php-version: 8.3
            database: pgsql
          - application: ojs
            php-version: 8.2
            database: pgsql

    name: Citations
    steps:
      - uses: pkp/pkp-github-actions@v1
        with:
          node_version: 20
          branch: main
          repository: pkp
          plugin: true
